<div id="footer">
            <div class="footer-extra"></div>
                <span id="icp" class="fleft gray-link">
                     &copy; Stevens Institute of Technology, CS546, all rights reserved by
                </span>
                <span class="fright">
                <a href="https://www.douban.com/about">Hao Yuan</a>
                路 <a href="https://www.douban.com/jobs">Xiaoyu Zhai</a>
                路 <a href="https://www.douban.com/about?topic=contactus">Yuan Wu</a>
                路 <a href="https://www.douban.com/about?policy=disclaimer">Jin He</a>
                路 <a href="https://www.linkedin.com/in/zeyu-ni-05b530109?trk=hp-identity-photo">Zeyu Ni</a>
                </span>
            </div>
        </div>