<section id="footer" style="background-color:#292b34;">
        <div class="container">
            <center style="color:#fff;">
            <div class="container">
                <div class="well well-sm main-footer"  style="background-color:#292b34; border:0px">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <p style="font-size: 16px">
                                    © Copyright by Group 4 of CS-546-web
                                </p>
                                <p style="font-size: 16px">
                                    Stevens Institute of Technology,
                                    CS-546-Web,
                                    Group 4,
                                    Final Project : Movie Recommender
                                </p>
                                <p style="font-size: 16px">
                                    Author :
                                    <a href="https://www.linkedin.com/in/hao-yuan-b91868b7">Hao Yuan</a>
                                    · <a href="http://www.xiaoyu.space">Xiaoyu Zhai</a>
                                    · <a href="https://www.facebook.com/yuan.wu.3367">Yuan Wu</a>
                                    · <a href="https://www.linkedin.com/in/jin-he-73020ab4?trk=hp-identity-photo">Jin He</a>
                                    · <a href="https://www.linkedin.com/in/zeyu-ni-05b530109?trk=hp-identity-photo">Zeyu Ni&nbsp</a>
                                </p>
                                <a class="github-button" href="https://github.com/ryani33/Movie-Recommendation-Web-App" data-icon="octicon-eye" aria-label="Watch ryani33/Movie-Recommendation-Web-App on GitHub">Watch Github</a>
                                
                            </div><!--end .row-->
                        </div><!--end .col-md-12-->
                    </div><!--end .row-->
                </div><!--end .well .well-sm .main-footer-->
            </div><!--end .container-->
            </center>
        </div><!--end .container-->
    </section><!--end #footer-->