<footer id="footer">
            <div class="container">
                <span id="icp" class="fleft gray-link">
                     &copy; Stevens Institute of Technology, CS546, all rights reserved by
                </span>
                <span class="fright">
                <a href="">Hao Yuan</a>
                路 <a href="">Xiaoyu Zhai</a>
                路 <a href="">Yuan Wu</a>
                路 <a href="">Jin He</a>
                路 <a href="">Zeyu Ni</a>
                </span>
            </div>
</footer>