
<div class="gallery">
    <div class="container">
        <div class="row">
            <div id="links" class="links">
                <a href="/assets/resources/poster/tt0012349.jpg" title="tt0012349">
                    <div class="crop">
                        <img src="/assets/resources/poster/tt0012349.jpg" alt="tt0012349">
                    </div>
                </a>
                <a href="/assets/resources/poster/tt0015864.jpg" title="tt0015864">
                    <div class="crop">
                        <img src="/assets/resources/poster/tt0015864.jpg" alt="tt0015864">
                    </div>
                </a>
                <a href="/assets/resources/poster/tt0317248.jpg" title="tt0317248">
                    <div class="crop">
                        <img src="/assets/resources/poster/tt0317248.jpg" alt="tt0317248">
                    </div>
                </a>
                <a href="/assets/resources/poster/tt0361748.jpg" title="tt0361748">
                    <div class="crop">
                        <img src="/assets/resources/poster/tt0361748.jpg" alt="tt0361748">
                    </div>
                </a>


            </div>
        </div>
    </div>
</div>
