<header class="row back-im">
    <div class="container; movie-pic">

	<div class="container-fluid" style="margin-bottom:10px">
	    <div class="row">
		    <div class="col-md-3">
			    <img alt="logo" src="/assets/resources/img/logo.jpg" width="120" style="margin-left:150px"/>
		    </div>

<<<<<<< HEAD
		    <div class="col-md-5" align="left">
		    	<br>
		    	<br>
		    	<br>
				<form role="form-inline" action="/search" method="POST">
					<div class="form-group">
						<label><input type="text" class="form-control" name="keyword" id="search" placeholder="Search for..." size="40"></label>
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>	
				</form>
				<!-- /input-group -->
		    </div>

		    <div class="col-md-3" align="right">
                <br>
		    	<br>
		    	<br>
		    	<div class="btn-group">
                    <button class="btn btn-secondary btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	<span class="caret"></span>
                        My Account
=======
		    <div class="col-md-6" style="padding-left:50px; padding-right:50px">
		    	<div class="input-group" style="margin-top:60px">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
        	                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search for...">
                </div>
		    </div>

		    <div class="col-md-3" >
		    	<div class="btn-group" style="margin-top:60px; margin-left:10px">
                    <% if(username){%>
                    <button class="btn btn-secondary btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= username %>
                    </button>
                    
                    <% } else {%>
                    <button class="btn btn-secondary btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
>>>>>>> cbbdaf3f92a7e15bd29b714874f06aab733c1729
                    </button>
                    <% }%>
                    <div class="dropdown-menu" >
                       <div> <a id="modal-936086" href="/login" role="button" class="btn">Sign in/Sign up</a>  </div>                    
                        <div><a id="modal-936088" href="/profile" role="button" class="btn" >Profile</a></div>
                        <div><a id="modal-936089" href="logout" role="button" class="btn" >Log out</a></div>
                    </div>
                </div>
<<<<<<< HEAD
		    </div>
		    <!-- Modals for SignIn/SignUp/Profile/SignOut -->
		    <div class="modal fade" id="modal-container-936086" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Sign In
							</h4>
						</div>
						<div class="modal-body">
							<form action="/login" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="loginname">Username</label>
                        <div class="col-sm-7">
                            <input type="text" name="loginname" class="form-control" id="loginname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="loginpwd">Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="loginpwd" class="form-control" id="loginpwd"/>
                        </div>
                    </div>
                    <% if (loginError) { %>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <%= loginError %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-default col-sm-offset-3" style="margin-top: 10px">Sign in
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </form>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button> 
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>	
				</div>	
			</div> 
			
			<div class="modal fade" id="modal-container-936087" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Sign Up
							</h4>
						</div>
						<div class="modal-body">
							<form action="/signup" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="signupname">Username</label>
                        <div class="col-sm-7">
                            <input type="text" name="signupname" class="form-control" id="signupname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="signuppwd">Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="signuppwd" class="form-control" id="signuppwd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="confirmpwd">Confirm Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="confirmpwd" class="form-control" id="confirmpwd"/>
                        </div>
                    </div>
                    <% if (signupError) { %>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <%= signupError %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-default col-sm-offset-3" style="margin-top: 10px">Create Account
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </form>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button> 
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="modal fade" id="modal-container-936088" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							...
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button> 
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="modal fade" id="modal-container-936089" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							...
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button> 
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
=======
		    </div>	
>>>>>>> cbbdaf3f92a7e15bd29b714874f06aab733c1729
	    </div>
    </div>
</header>