<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <main class="row">
            <section class="col-sm-6">
                <h2>Sign in</h2>
                <hr />
                <form action="/login" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="loginname">Username</label>
                        <div class="col-sm-7">
                            <input type="text" name="loginname" class="form-control" id="loginname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="loginpwd">Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="loginpwd" class="form-control" id="loginpwd"/>
                        </div>
                    </div>
                    <% if (locals.loginError) { %>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <%= locals.loginError %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-default col-sm-offset-3" style="margin-top: 10px">Sign in
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </form>
            </section>
            <section class="col-sm-6">
                <h2>Sign up</h2>
                <hr />
                <form action="/signup" method="POST" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="signupname">Username</label>
                        <div class="col-sm-7">
                            <input type="text" name="signupname" class="form-control" id="signupname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="signuppwd">Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="signuppwd" class="form-control" id="signuppwd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="confirmpwd">Confirm Password</label>
                        <div class="col-sm-7">
                            <input type="text" name="confirmpwd" class="form-control" id="confirmpwd"/>
                        </div>
                    </div>
                    <% if (locals.signupError) { %>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <%= locals.signupError %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-default col-sm-offset-3" style="margin-top: 10px">Create Account
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </form>
            </section>
        </main>
    </div>

    <hr />
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>